div{

background-color: aqua;
    color: brown;
    margin: auto;
padding: 10px;
border: 5px;
border-style: double;
text-align: middle;
text-shadow: 2px;
text-align: left;
}

h2{
color: black;
background-color: rgb(155, 192, 21);
margin: auto;
padding: 10px;
border: 5px;
border-style: double;
text-align: middle;
text-shadow: 2px;
text-align: left;
}
p{
    margin: auto;
    padding: 10px;
    border: 5px;
    border-style: double;
    text-align: middle;
    text-shadow: 2px;
    text-align: left;
    
}